@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #7bed9d, #29e6ad, #72c0f7, #d996ff);
  background-size: 400% 400%;
  animation: gradient-glide 8s ease infinite;
}
.calc__box {
  position: relative;
}
.calc__box h1 {
  max-width: 350px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.calc__box .sqr {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 25px 40px solid rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-animation: square-move 10s ease infinite;
          animation: square-move 10s ease infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
          animation-delay: calc(-1s * var(--i));
}
.calc__box .sqr:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}
.calc__box .sqr:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}
.calc__box .sqr:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 105px;
  left: -125px;
  z-index: 2;
}
.calc__box .sqr:nth-child(3) {
  width: 60px;
  height: 60px;
  bottom: 85px;
  right: -45px;
  z-index: 2;
}
.calc__box .sqr:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: 35px;
  left: -95px;
}
.calc__box .sqr:nth-child(5) {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -25px;
}
.calc__box .sqr:nth-child(6) {
  width: 85px;
  height: 85px;
  top: 165px;
  right: -155px;
  z-index: 2;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.container .calculator {
  position: relative;
  display: grid;
}
.container .calculator .value {
  grid-column: span 4;
  height: 120px;
  width: 300px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 2rem;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 75px;
  width: 75px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          border-right: 1px solid rgba(255, 255, 255, 0.05);
          transition: 0.5s ease;
}
.container .calculator span:hover {
  transition: 0s;
  background: rgba(255, 255, 255, 0.05);
}
.container .calculator span:active {
  background: #e3ffbd;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.container .calculator .clr {
  grid-column: span 2;
  width: 150px;
  background: rgba(255, 255, 255, 0.05);
}
.container .calculator .plus {
  grid-row: span 2;
  height: 150px;
}
.container .calculator .equal {
  background: rgba(255, 255, 255, 0.05);
}


@keyframes gradient-glide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes square-move {
  0, 100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
}
@media screen and (max-width: 800px) {
  body::before {
    max-width: 75vw;
    max-height: 75vw;
  }
}
