@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
h1{
  font-family: 'Inconsolata', monospace;
  font-size: 3rem;
}
ul,nav{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;

  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header h2{
  text-transform: uppercase;
}
header nav{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}
header nav li{
  margin: 0 15px;
  cursor: pointer;
  z-index: 0;
  position: relative;
  padding: 10px 10px;
}
header nav li:first-child{
  margin-left: 0;
}
header nav li:last-child{
  margin-right: 0;
}
@media(max-width:1000px){
  header{
    padding: 20px 50px;
  }
}
@media(max-width:700px){
  header{
    flex-direction: column;
  }
  header h2{
    margin-bottom: 15px;
  }
  header nav li{
    margin: 0 7px;
  }
}

/* BANNER */
section.banner-area{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}
section.main-content{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  box-orient: horizontal;
  align-items: center;
  padding: 50px 0px;
  min-width: 100vw;
}
.main-content h1{
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 55px;
  letter-spacing: 5px;
}
.main-content .justified-content p{
  text-align: justify;
  text-align-last: center;
}
.main-content .justified-content{
  max-width: 50vw;
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-content{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}
.left-content p{
  text-align: justify;
}
.left-content img{
  z-index: 0;
  position: relative;
  width: 25vw;
  height: 25vw;
  margin-left: 10vw;
  margin-top: 10vh;
}
@media(max-width: 700px){
  .left-content{
    flex-direction: column;
    align-items: center;
  }
  .left-content img{
    width: 70vw;
    height: auto;
    margin-left: 0;
    margin-top: 10%;
  }
  .left-content p{
    text-align: justify;
    text-align-last: center;
  }
  .main-content h1{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 35px;
    letter-spacing: 5px;
  }

  .type-line{
    width: 14em;
    letter-spacing: 3px;
    animation: mobile-typewriter 2s steps(15) 1s 1 normal both,
              blinkTextCursor 850ms steps(15) infinite normal;
  }
}
.main-content a{
  color: blue;
}
@media(min-width:1000px){
  section.banner-area{
    padding: 100px 50px;
  }
  section.main-content{
    flex-direction: column;
  }

}
@media(max-width:600px){
  section.banner-area{
    padding: 125px 30px;
  }
}
section p{
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
.banner-area{
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img{
  background-image: url('../img/header-bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1
}
.banner-area .banner-img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.banner-area h1{
  margin-bottom: 45px;
  font-family: 'Oxygen', sans-serif;
  font-size: 85px;
  letter-spacing: 5px;
}
.banner-area .socials{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.banner-area h3{
  margin-bottom: 50px;
  font-size: 35px;
}
.banner-area .banner-btn{
  margin: 10px;
  padding: 25px 25px;
  font-size: 25px;
  border: none;
  border-bottom: 4px solid #eee;
  box-shadow: inset 0 0 0 0 #19b574;
  transition: border-bottom 1s;
  outline: none;
  position: relative;
  background-color: white;
  flex: 10;
}
.banner-btn a{
  color: white;
  mix-blend-mode: difference;
}
@media(max-width:600px){
  .banner-area .socials{
    flex-direction: column;
    justify-content: space-evenly;
  }

}
.bottom-bar{
  background-color: #454545;
  min-height: 30vh;
  min-width: 100vw;
  position: absolute;
  left: 0;

  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottom-bar-content{
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  webkit-flex-direction: row;
  flex-direction: row;
}
.bottom-bar h1{
  color: white;
  font-size: 3rem;
  margin-left: 10%;
}
.bottom-socials{
  position: absolute;
  right: 0;
  margin-right: 10%;
}
.bottom-socials a img{
  width: 50px;
  height: 50px;
}
.bottom-socials a{
  margin: 25px;
}
@media(max-width:600px){
  .bottom-bar-content{
    webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .bottom-socials {
    position: relative;
    margin: 0;
  }
  .bottom-bar h1{
    margin: 0;
  }
}
/* HOVER ANIMATIONS FOR BANNER BUTTONS */
.banner-btn::before{
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.04, 1.3);
  content: '';
  width: 15%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-btn:hover::before{
  background: black;
  width: 100%;
}

/* NAVIGATION ANIMATIONS */
header nav li:before, nav li:after{
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #fff;
  transition: all 0.4s;
}
header nav li:before{
  left: 0px;
  top: 0px;
}
header nav li:after{
  right: 0px;
  bottom: 0px;
}
header nav li:hover:before, nav li:hover:after{
  opacity: 1;
  height: 2px;
  width: 100%;
}

/* TYPEWRITER EFFECT ANIMATIONS */
.anim-typewriter{
  animation: typewriter 2s steps(13) 1s 1 normal both,
            blinkTextCursor 850ms steps(13) infinite normal;
}
.type-line{
  position: relative;
  top: 50%;
  width: 7em;
  margin: 0 auto;
  border-right: 2px solid rgba(39, 128, 179, 0.7);
  font-size: 160%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.6em;}
}
@keyframes mobile-typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(39, 128, 179, 0.7);}
  to{border-right-color: transparent;}
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #fff;
}
::-webkit-scrollbar-thumb{
  background: #c2c2c2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #6e6e6e;
}
