@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
.header {

  /* BACKGROUND IMAGE */
  background-image:  url('../img/header-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* BLUR THE BACKGROUND */
  filter: blur(5px);

  /* GEOMETRY */
  width: 100vw;
  min-height: 70%;

  /* POSITIONS */
  position: absolute;
  left: 0;
  top: 0;
}
.header-text {
  /* STYLE FOR HEADER TITLE */

  /* BACKGROUND */
  background-color: rgb(255, 255, 255);

  /*TEXT STYLES */
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: black;

  /* POSITION STYLES */
  position: absolute;
  top: 26%;
  left: 30%;

  min-height: 15%;
  min-width: 40%;
}
.content {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100vw;
  min-height: 40%;

  border: 2px solid white;
  background-color: white;
}
.content section {
  padding: 1%;
}
.content section h1 {
  text-align: center;
  font-size: 30px;
}
.content section p {
  padding: 1%;
}
.content:nth-child(odd) {
  background-color: white;
  color: black;
}
section:nth-child(even) {
  background-color: #545454;
  color: white;
}
