@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
ul,nav{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;

  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header h2{
  text-transform: uppercase;
}
header nav{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}
header nav li{
  margin: 0 15px;
  cursor: pointer;
  z-index: 0;
  position: relative;
  padding: 10px 10px;
}
header nav li:first-child{
  margin-left: 0;
}
header nav li:last-child{
  margin-right: 0;
}
@media(max-width:1000px){
  header{
    padding: 20px 50px;
  }
}
@media(max-width:700px){
  header{
    flex-direction: column;
  }
  header h2{
    margin-bottom: 15px;
  }
  header nav li{
    margin: 0 7px;
  }
}

/* BANNER */
section{
  /* FLEXBOX */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}
@media(max-width:1000px){
  section{
    padding: 100px 50px;
  }
}
@media(max-width:600px){
  section{
    padding: 125px 30px;
  }
}
section p{
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
.banner-area{
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img{
  background-image: url('../img/header-bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1
}
.banner-area .banner-img:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.banner-area h1{
  margin-bottom: 45px;
  font-family: 'Oxygen', sans-serif;
  font-size: 85px;
  letter-spacing: 5px;
}
.banner-area .socials{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.banner-area h3{
  margin-bottom: 50px;
  font-size: 35px;
}
.banner-area .banner-btn{
  margin: 10px;
  padding: 25px 25px;
  font-size: 25px;
  border: none;
  border-bottom: 4px solid #eee;
  box-shadow: inset 0 0 0 0 #19b574;
  transition: border-bottom 1s;
  outline: none;
  position: relative;
  background-color: white;
  flex: 10;
}
.banner-btn a{
  color: white;
  mix-blend-mode: difference;
}
@media(max-width:600px){
  .banner-area .socials{
    flex-direction: column;
    justify-content: space-evenly;
  }

}

/* HOVER ANIMATIONS FOR BANNER BUTTONS */
.banner-btn::before{
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.04, 1.3);
  content: '';
  width: 15%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-btn:hover::before{
  background: black;
  width: 100%;
}

/* NAVIGATION ANIMATIONS */
header nav li:before, nav li:after{
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: #fff;
  transition: all 0.4s;
}
header nav li:before{
  left: 0px;
  top: 0px;
}
header nav li:after{
  right: 0px;
  bottom: 0px;
}
header nav li:hover:before, nav li:hover:after{
  opacity: 1;
  height: 2px;
  width: 100%;
}
